.contact-card {
  width: auto;
  min-height: 80px;
  margin: 3px;
  border-radius: 0;
  position: relative;
}

.profile-img {
  padding: 5px;
  border-radius: 10px;
}

.message-short-text {
  word-wrap: normal;
}

.active-contact {
  background: #C7007D;
}

.contact-name {
  margin-top: 5px;
  font-size: 14px;
}

.small-screen {
  display: none;
}

.big-screen {
  display: flex;
}

@media (max-width:850px) {
  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }
}
