<div class="card contact-card" (click)="onCardClick()">
  <div class="row no-gutters">
    <div class="col-4">
      <img class="card-img profile-img"
        src="https://pm1.narvii.com/5866/76b201e12343e860570c62f4067307e04ed545fe_hq.jpg">
    </div>
    <div class="col-8">
      <h5 class="contact-name">
        <i class="far fa-address-card"></i>
        Card title
      </h5>
      <div class="message-short-text">{{contact.friendId}}</div>
      <div class="last-update-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
    </div>
  </div>
</div>