.contacts-area {
  position: fixed;
}

.messages-container-area {
  position: fixed;
  right: 0;
}

.message-area {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 75vw;
}

.container-big {
    height: 90vh;
    width: 75vw;
}
