.back-layout {
  width: 100vw;
  height: 100vh;
  background: #00A779;
  z-index: 0;
}

.top-left-row {
  background: #35D3A7;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;

  bottom: 50%;
  right: 75%;
}

.top-right-row {
  background: #1F7D63;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;

  bottom: 50%;
  left: 75%;
}

.bottom-right-row {
  background: #006D4F;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 0;

  top: 50%;
  left: 75%;
}

.bottom-left-row {
  background: #5FD3B3;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 0;

  top: 50%;
  right: 75%;
}

.flex-center{
    display: flex;
    
}
.center-card {
  position: fixed;
  width: 50vw;
  left: 50%;
  top: 50%;
  padding: 2%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.brand {
  z-index: 1;
  margin: 10%;
}

.brand-name {
  color: #006D4F;
  text-shadow: rgb(253, 241, 241) 2px 2px 5px;
}
