<div class="card center-card">
  <div class="card-title">
    <ul class="nav nav-pills flex-center">
      <button class="tab-btn" routerLink="sign-up" routerLinkActive="active-tab"> Sign up</button>
      <button class="tab-btn" routerLink="sign-in" routerLinkActive="active-tab">Sign in</button>
    </ul>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="back-layout">
  <div class="top-left-row">
    <div class="brand">
      <h1 class="brand-name">Siger
        <i class="fas fa-feather-alt"></i>
      </h1>
    </div>
  </div>
  <div class="top-right-row"></div>
  <div class="bottom-left-row"></div>
  <div class="bottom-right-row"></div>
</div>