.flex-form {
  display: flex;
  flex-direction: column;
}

.login-btn {
  position: fixed;
  top: -25%;
  right: 5%;

  width: 8vw;
  height: 6vh;

  font-size: 14px;
  background: #00A779;
  color: whitesmoke;
  border: 1px solid #A63400;
}

.login-btn:hover {
  color: white;
  border: 1px solid #A63400;
  font-size: 16px;
  transition: 0.25s;
}

.login-btn[disabled] {
  background: rgb(197, 197, 197);
}

input.ng-untouched.ng-invalid {
  border: solid 1px rgb(212, 212, 212);
}

input.ng-untouched.ng-valid {
  border: solid 1px rgb(212, 212, 212);
  ;
}

input.ng-touched.ng-invalid {
  border: solid red 1px;
}

input.ng-touched.ng-valid {
  border: solid green 1px;
}

