<form class="flex-form" #loginForm="ngForm" (ngSubmit)="logIn(loginForm.value)">
  <label> Login
    <input type="text" autocomplete="off" placeholder="User name" class="form-control" name="username" #userName ngModel
      required>
  </label>
  <label for="id-password"> Password </label>
  <input type="password" id="id-password" autocomplete="off" placeholder="Password" class="form-control" name="password"
    #password ngModel required>
  <small class="form-text text-muted">
    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special
    characters, or emoji.
  </small>
  <button [disabled]="!loginForm.valid" class="login-btn base-btn" type="submit">
    <div>Sign in
      <i class="fas fa-arrow-right"></i>
    </div>
  </button>
</form>