.flex-form {
  display: flex;
  flex-direction: column;
}

.for-hand-orientation{
  position: absolute;
}

.help-text{
  position: fixed;
  top: 5%;
  right: -33%;
}

.hand-down{
  position: fixed;
  top: 25%;
  right: -30%;
}

.hand-up{
  position: fixed;
  top: 50%;
  right: -30%;
}

.hand-left{
  position: fixed;
  top: 36%;
  right: -20%;
}

.hand-right{
  position: fixed;
  top: 36%;
  right: -38%;
}

.login-btn {
  position: fixed;
  top: 35%;
  right: -35%;
}

.login-btn:hover {
  color: white;
  border: 1px solid #A63400;
  font-size: 16px;
  transition: 0.25s;
}

.login-btn[disabled] {
  display: none;
}

input.ng-untouched.ng-invalid {
  border: solid 1px rgb(212, 212, 212);
}

input.ng-untouched.ng-valid {
  border: solid 1px rgb(212, 212, 212);
  ;
}

input.ng-touched.ng-invalid {
  border: solid red 1px;
}

input.ng-touched.ng-valid {
  border: solid green 1px;
}

